.animated-paragraph {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: typing 1s steps(22, end);
  }
  
  
.typing {
    animation: typing 1s steps(22, end);
  }
  
  .exit {
    animation: exit 1s steps(20, end);
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes exit {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }